.form-login {
  width: 500px;
  margin: 80px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  animation: fadeIn 0.5s ease;

  h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
    color: #333;
  }

  .form-control {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    transition: 0.25s ease;
    font-size: 15px;

    &:focus {
      border-color: #4b8bff;
      box-shadow: 0 0 4px rgba(75, 139, 255, 0.4);
    }
  }


  .btn-login {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #EC6F38 0%, #D93332 50%, #6A2AA0 100%);
  
  background-size: 200% 100%;    /* quan trọng */
  background-position: left;     /* bắt đầu từ trái */

  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-position 0.4s ease;
}

/* hiệu ứng hover */
.btn-login:hover {
  background-position: right;    /* chạy sang phải */
}

   .options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 14px;
  }

  .remember-me {
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      cursor: pointer;
      accent-color: #000; // màu ô vuông
    }
  }

  .forgot-password {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;

    .link-signup {
      color: #007bff;
      font-weight: 600;
      margin-left: 4px;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
